/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
footer,header,nav,section {
	display:block;
}
.c-header__bg {
	background-color: #f88c3b;
	background-image: linear-gradient(to right,#f88c3b,#ffd36a);
	opacity: 1;
	transition: opacity .3s ease-out;
}
.c-header__bg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.div-bottom{
	margin-bottom: 40px;
}
.div-bottom__appstore {
	box-shadow: inset 0 0 0 5px #fff, 0 0 0 0 #fff;
	display: inline-block;
	overflow: hidden;
	border-radius: 4px;
	border: solid 1px #fff;
	line-height: 0;
	margin: 10px;
	margin-right: 0;
}
.div-bottom__appstore:hover {
	box-shadow: inset 0 0 0 5px #fff, 0 0 0 7px #fff;
	line-height: 0;
}
.div-bottom img{
	max-width: 100%;
	width: 98%;
}
img {
	border-style:none;
}
fieldset {
	margin:0 2px;
	padding:.35em .625em .75em;
}

.c-button {
	white-space:nowrap;
}
textarea {
	overflow:auto;
}
body,html {
	min-height:100%;
	height:100%;
}
body {
	margin:0;
	color:#4c4c4c;
}

button {
	background:0 0;
	border:none;
	padding:0;
	text-transform:none;
}
a:focus,a:hover,button:focus,button:hover,input:focus,input:hover,select:focus,select:hover,textarea:focus,textarea:hover {
	outline:0;
}
a,button,circle,input,path,textarea {
	transition:all .3s ease-in-out;
}
 .c-button::before,.c-button:after{
	content:"";
	display:block;
	position:absolute;
}
 .c-footer__content,.c-header__container{
	margin-left:auto;
	margin-right:auto;
}
@media (min-width:780px) {
	body,h1,h2,h3,h4,h5,h6,li,p {
		font-size:18px;
		line-height:26px;
	}
}
@-webkit-keyframes a-heartbeat {
	0%,100%,40%,80% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	20%,60% {
		-webkit-transform:scale(.9);
		transform:scale(.9);
	}
}
@keyframes a-heartbeat {
	0%,100%,40%,80% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	20%,60% {
		-webkit-transform:scale(.9);
		transform:scale(.9);
	}
}


.c-section__container {
	position:relative;
	max-width:1080px;
	padding:72px 25px 38px;
	text-align:center;
}
.c-section__title {
	font-weight:200;
	max-width:330px;
	text-transform:uppercase;
}
.c-section__title strong {
	font-weight:200;
	position:relative;
	display:inline-block;
}
.c-section__title strong::before {
	background-color:#0099da;
	background-image:linear-gradient(to right,#0099da,#6ae8ff 200%);
	border-radius:4px;
	bottom:-2px;
	left:-6px;
	right:-6px;
	top:-2px;
	z-index:-1;
}
.c-section__byline {
	margin-top:23px;
}
@media (min-width:780px) {
	.c-section__container {
		padding-bottom:115px;
		padding-top:115px;
	}
	.c-section__title {
		font-size:28px;
		line-height:40px;
		max-width:675px;
	}
	.c-section__byline {
		margin-top:31px;
	}
}
.c-section__byline a:focus,.c-section__byline a:hover {
	color:#0099da;
}
.c-section--bg {
	position:relative;
	background-color:transparent;
}
.c-section--bg .c-section__img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-size:cover;
	z-index:0;
}
.c-section--bg .c-section__img>img {
	position:absolute;
	height:100%;
	left:100%;
	top:0;
	width:100%;
}
.c-section--alt .c-section__byline,.c-section--alt .c-section__title {
	color:#fff;
}
.c-section--alt .c-section__title--alt::before {
	background-color:#fff;
	background-image:none;
}
.c-ambassadors__hero-wrap {
	position:relative;
}
.c-ambassadors__featured {
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	color:#fff;
	background:linear-gradient(to right,transparent,rgba(0,0,0,.7));
}
@media (min-width:780px) {
	.c-ambassadors__featured {
		display:block
	}
}
.c-ambassadors__grid {
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	padding-top:30px;
}
.c-ambassadors__item {
	width:49%;
	border-radius:4px;
}
.c-ambassadors__item--mobile-full {
	width:100%;
}
.c-ambassadors__profile {
	height:250px;
	border:1px solid #f1f1f1;
}
@media (min-width:780px) {
	.c-ambassadors__grid {
		padding-top:50px;
	}
	.c-ambassadors__item {
		width:32%;
	}
	.c-ambassadors__profile {
		width:32%;
		height:500px;
	}
}
.c-ambassadors__benefits {
	height:100%;
	background:#fff;
}
.c-ambassadors__benefits p {
	color:#9e9e9e;
	font-size:16px;
}
.c-ambassadors__link {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	height:100%;
	overflow:hidden;
}
.c-ambassadors__link:hover {
	box-shadow:0 2px 20px rgba(0,0,0,.1);
}
.c-ambassadors__link:hover .c-ambassadors__overlay {
	opacity:1;
	transition:opacity .3s ease-out;
}
.c-ambassadors__image {
	position:relative;
	height:60%;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	border-radius:4px 4px 0 0;
}
@media (min-width:780px) {
	.c-ambassadors__image {
		height:70%;
	}
}
.c-ambassadors__image img {
	position:absolute;
	left:101%;
}
.c-ambassadors__byline {
	position:relative;
	text-align:center;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1;
}
.c-ambassadors__avatar {
	display:inline-block;
	width:60px;
	height:60px;
	margin-top:calc(-60px/2);
	border:5px solid #fff;
	background:#fff;
	overflow:hidden;
	border-radius:50%;
}
.c-ambassadors__avatar--bg {
	background-image:linear-gradient(to right,#0099da,#6ae8ff);
}
@media (min-width:780px) {
	.c-ambassadors__avatar {
		width:100px;
		height:100px;
		margin-top:calc(-100px/2);
		margin-bottom:10px;
	}
}
.c-ambassadors__avatar>img,.c-ambassadors__avatar>svg {
	height:100%;
}
.c-ambassadors__name {
	text-transform:uppercase;
	font-size:14px;
	color:#4c4c4c;
}
@media (min-width:780px) {
	.c-ambassadors__name {
		font-size:18px;
	}
}
.c-ambassadors__location {
	font-size:12px;
	color:#9e9e9e;
}
@media (min-width:780px) {
	.c-ambassadors__location {
		font-size:16px;
	}
}
.c-ambassadors__overlay {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	width:100%;
	height:100%;
	transition:opacity .3s .15s ease-in;
	opacity:0;
	color:#fff;
	background-size:cover;
	background-position:center center;
}
.c-ambassadors__overlay h3 {
	font-family:Arty;
	font-size:50px;
	line-height:.7;
}
.c-ambassadors__overlay span {
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
}
@media (min-width:780px) {
	.c-ambassadors__overlay h3 {
		font-size:100px;
	}
}
.c-ambassadors__overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
	background:rgba(0,0,0,.4);
}
.c-ambassadors__button,.c-ambassadors__input {
	background:linear-gradient(to right,#0099da,#6ae8ff)
}
.c-ambassadors__overlay-content {
	position:relative;
	z-index:1;
}
.c-ambassadors__form {
	max-width:470px;
	margin-left:auto;
	margin-right:auto
}
.c-ambassadors__input {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	border-radius:4px
}
.c-ambassadors__input input {
	padding:10px 25px;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1;
	font-size:16px;
	border:2px solid #DEDEDE;
	border-radius:4px;
	transition:none;
}
.c-ambassadors__input input:focus {
	border:none;
	margin:2px;
}
.c-ambassadors__button {
	width:100%;
	padding:10px 25px;
	color:#fff;
	border-radius:4px;
	cursor:pointer;
}
.c-ambassadors__button:focus {
	background:#DEDEDE;
}
.c-ambassadors .c-items__more {
	margin-bottom:-50px;
}
.c-ambassadors .c-items__wrapper:not(.c-items__wrapper--show) {
	max-height:548px;
}
.c-hero {
	position:relative;
	width:100%;
}
.c-hero__img {
	background-color:#1e1e1e;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:fixed;
	top:0;
	left:0;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	z-index:-1;
}
.c-hero__img.js-bg-img--loaded .c-hero__img-src {
	display:none;
}
.c-hero__img-src {
	right:100%;
	position:absolute;
}
.c-hero__container {
	padding:176px 25px 47px;
	position:relative;
	text-align:center;
}
.c-hero__title {
	color:#fff;
	font-weight:200;
	letter-spacing:2px;
	text-transform:uppercase;
	z-index:1;
}
.c-hero__title strong {
	font-weight:200;
	position:relative;
	display:inline-block;
}
.c-hero__end,.c-hero__end::after,.c-hero__end::before {
	position:absolute;
}
.c-hero__end,.c-protection__icons {
	display:-webkit-flex;
	display:-ms-flexbox;
}
.c-hero__title strong::before {
	background-color:#0099da;
	background-image:linear-gradient(to right,#0099da,#6ae8ff 200%);
	border-radius:4px;
	bottom:-2px;
	left:-6px;
	right:-6px;
	top:-2px;
	z-index:-1
}
.c-hero__byline {
	color:#fff;
	margin-top:18px;
}
@media (min-width:780px) {
	.c-ambassadors .c-items__wrapper:not(.c-items__wrapper--show) {
		max-height:1066px;
	}
	.c-hero__container {
		padding-bottom:78px;
		padding-top:265px;
	}
	.c-hero__title {
		font-size:35px;
		line-height:40px;
	}
	.c-hero__byline {
		font-size:20px;
		line-height:30px;
		font-weight:200;
		margin:35px auto 0;
	}
}
 .c-header__link {
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
}
@media (min-width:1000px) {
	.c-hero__byline {
		max-width:65%;
	}
}
.c-hero__more {
	margin-top:102px;
}
.c-hero__end {
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	background:#fff;
	border-radius:40px;
	bottom:-55px;
	display:flex;
	height:80px;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	left:50%;
	margin-left:-40px;
	width:80px;
}
.c-footer,.c-header__bg,.c-hero__end::after,.c-hero__end::before {
	background-image:linear-gradient(to right,#f88c3b,#ffd36a);
}
.c-hero__end::before {
	border-radius:30px;
	height:60px;
	left:10px;
	opacity:.4;
	top:10px;
	width:60px;
}
.c-hero__end::after {
	border-radius:23px;
	height:46px;
	left:17px;
	top:17px;
	width:46px
}
.c-protection {
	background-color:#1e1e1e;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	overflow:hidden;
}
.c-protection--in-viewport .c-protection__icons svg {
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1);
}
.c-protection--in-viewport .c-protection__icons svg:nth-child(1) {
	transition:all .2s .3s ease-out;
}
.c-protection--in-viewport .c-protection__icons svg:nth-child(2) {
	transition:all .2s .5s ease-out;
}
.c-protection--in-viewport .c-protection__icons svg:nth-child(3) {
	transition:all .2s .7s ease-out;
}
.c-protection__img {
	left:100%;
	position:absolute;
}
.c-protection__container {
	padding:36px 25px;
	text-align:center;
}
.c-protection__icons {
	display:flex;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.c-footer__row,.c-footer__social-list {
/*	display:-webkit-flex;
	display:-ms-flexbox;*/
}
.c-protection__icons svg {
	height:auto;
	opacity:0;
	-webkit-transform:scale(0);
	transform:scale(0);
	width:44px;
}
.c-protection__icons svg:nth-child(1) {
	transition:all .2s .7s ease-in;
}
.c-protection__icons svg:nth-child(2) {
	transition:all .2s .5s ease-in;
}
.c-protection__icons svg:nth-child(3) {
	transition:all .2s .3s ease-in;
}
.c-protection__icons svg:not(:first-child) {
	margin-left:12px;
}
@media (min-width:780px) {
	.c-hero__more {
		margin-top:187px;
	}
	.c-hero__end {
		bottom:-40px;
	}
	.c-protection__container {
		padding-bottom:124px;
		padding-top:130px;
	}
	.c-protection__icons svg {
		width:50px;
	}
	.c-protection__icons svg:not(:first-child) {
		margin-left:25px;
	}
	.c-protection__title {
		font-size:28px;
		line-height:40px;
	}
}
.c-protection__title {
	color:#fff;
	margin-top:26px;
	text-transform:uppercase;
}
.c-protection__byline {
	color:#fff;
	margin-top:23px;
}
.c-protection__byline a {
	color:#fff;
	white-space:nowrap;
}
.c-protection__byline a:focus,.c-protection__byline a:hover {
	color:#0099da
}
.c-footer {
	text-align:left;
}
.c-footer__container {
	box-sizing:border-box;
	padding-bottom:40px;
	padding-left:25px;
	padding-right:25px;
}
@media (min-width:780px) {
	.c-protection__byline {
		margin-top:31px;
	}
	.c-footer__container {
		padding-bottom:55px;
	}
}
.c-footer__container:last-child {
	background-color:rgba(38,38,38,.2);
}
.c-footer__container+.c-footer__container {
	padding-bottom:30px;
}
.c-footer__container+.c-footer__container .c-footer__column {
	margin-top:30px;
}
@media (min-width:780px) {
	.c-footer__container+.c-footer__container {
		padding-bottom:45px;
	}
	.c-footer__container+.c-footer__container .c-footer__column {
		margin-top:45px;
	}
}
.c-footer__content {
	max-width:1040px;
}
 .c-footer__column {
	-webkit-flex:1 0 auto;
	-ms-flex:1 0 auto;
	flex:1 0 auto;
	margin-top:61px;
}
.c-footer__column--center {
	text-align:center;
}
.c-footer__column--mobile-25 {
	-webkit-flex-basis:25%;
	-ms-flex-preferred-size:25%;
	flex-basis:25%;
	min-width:25%;
}
.c-footer__column--mobile-50 {
	-webkit-flex-basis:50%;
	-ms-flex-preferred-size:50%;
	flex-basis:50%;
	min-width:50%;
}
.c-footer__column--mobile-100 {
	-webkit-flex-basis:100%;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	min-width:100%;
}
.c-footer__column--mobile-auto {
	-webkit-flex-basis:auto;
	-ms-flex-preferred-size:auto;
	flex-basis:auto;
	min-width:0;
}
@media (min-width:780px) {
	.c-footer__column {
		margin-top:99px;
	}
	.c-footer__column--tablet-25 {
		-webkit-flex-basis:25%;
		-ms-flex-preferred-size:25%;
		flex-basis:25%;
		min-width:25%;
	}
	.c-footer__column--tablet-50 {
		-webkit-flex-basis:50%;
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		min-width:50%;
	}
	.c-footer__column--tablet-100 {
		-webkit-flex-basis:100%;
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		min-width:100%;
	}
	.c-footer__column--tablet-auto {
		-webkit-flex-basis:auto;
		-ms-flex-preferred-size:auto;
		flex-basis:auto;
		min-width:0;
	}

}
@media (min-width:1000px) {
	.c-footer__column--desktop-25 {
		-webkit-flex-basis:25%;
		-ms-flex-preferred-size:25%;
		flex-basis:25%;
		min-width:25%;
	}
	.c-footer__column--desktop-50 {
		-webkit-flex-basis:50%;
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		min-width:50%;
	}
	.c-footer__column--desktop-100 {
		-webkit-flex-basis:100%;
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		min-width:100%;
	}
	.c-footer__column--desktop-auto {
		-webkit-flex-basis:auto;
		-ms-flex-preferred-size:auto;
		flex-basis:auto;
		min-width:0;
	}
}

.c-footer__list {
	margin-top:11px;
}
.c-footer__social-list {
	display:flex;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.c-footer__social-item {
	max-width:18px;
}
.c-footer__social-item:not(:last-child) {
	margin-right:25px;
}
.c-footer__social-link {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	height:18px;
	width:18px;
}
.c-footer__social-link svg {
	display:block;
	width:auto;
	height:auto;
}
.c-footer__social-link path {
	fill:#C6E8F9;
}
.c-footer__social-link:focus path,.c-footer__social-link:hover path,.c-header__close path,.c-header__open path  {
	fill:#fff;
}
.c-footer__social-text {
	display:none;
}
.c-header {
	position:absolute;
	z-index:102;
	top:0;
	width:100%;
	width: 100vw;
}
.c-header--active {
	position:fixed;
}
@media (max-width:779px) {
	.c-protection__title {
		font-weight:500;
		letter-spacing:2px;
	}
	.c-header--hide-on-mobile {
		display:none
	}
}
.c-header__bg {
	background-color:#f88c3b;
	opacity:1;
	transition:opacity .3s ease-out;
}
.c-header__container {
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	box-sizing:border-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:flex-start;
	justify-content:flex-start;
	max-width:1310px;
}
.c-header__logo {
	height:22px;
	position:relative;
	width:54px;
	z-index:2;
}
@media (min-width:780px) {
	.c-header__container {
		-webkit-justify-content:space-between;
		-ms-flex-pack:justify;
		justify-content:space-between;
		padding: 26px 10px 25px 10px;
	}
	.c-header__logo {
		height:35px;
		width:85px;
	}
	.c-header:not(.c-header--active) .c-header__bg {
		opacity:0;
		transition:opacity .3s ease-in;
	}
}
.c-header__logo svg {
	display:block;
	height:auto;
	width:100%;
}
@media (max-width:779px) {
	.c-header__nav {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		opacity:1;
		right:0;
		background:rgba(0,0,0,.5);
		z-index:1;
		transition:opacity .3s ease-out;
	}
	.c-header__nav:not(.c-header__nav--open) {
		opacity:0;
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
		transition:opacity .3s .3s ease-in,-webkit-transform .3s .6s ease-in;
		transition:opacity .3s .3s ease-in,transform .3s .6s ease-in;
		transition:opacity .3s .3s ease-in,transform .3s .6s ease-in,-webkit-transform .3s .6s ease-in;
	}
	.c-header__nav:not(.c-header__nav--open) .c-header__nav-container {
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
		transition:-webkit-transform .3s ease-in;
		transition:transform .3s ease-in;
		transition:transform .3s ease-in,-webkit-transform .3s ease-in;
	}
	.c-header__nav-container {
		background-color:#004562;
		background-image:linear-gradient(to bottom,#f3700f,#ed9c24);
		box-shadow:rgba(0,0,0,.1) 0 0 10px 0;
		height:100%;
		max-width:100%;
		min-width:280px;
		overflow:auto;
		padding-bottom:20px;
		transition:-webkit-transform .3s .3s ease-out;
		transition:transform .3s .3s ease-out;
		transition:transform .3s .3s ease-out,-webkit-transform .3s .3s ease-out;
		width:70%
	}
}
.c-header__nav-inner {
	position:relative;
	z-index:1;
}
.c-header__nav-content {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
}
.c-header__link {
	color:#fff;
	cursor:pointer;
}
@media (max-width:779px) {
	.c-header__nav-content {
		margin-left:auto;
		margin-right:auto;
		box-sizing:border-box;
		padding-left:30px;
		padding-right:30px;
		padding-top:82px;
		-webkit-flex-direction:column-reverse;
		-ms-flex-direction:column-reverse;
		flex-direction:column-reverse;
	}
	.c-header__link {
		line-height:36px;
	}
	.c-header__link--tablet-up {
		display:none;
	}
}
@media (min-width:780px) {
	.c-header__nav-content {
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
	}
	.c-header__link {
		font-size:13px;
		line-height:22px;
		color:rgba(255,255,255,.8)
	}
	.c-header__link:focus,.c-header__link:hover {
		color:#fff;
	}
	.c-header__link:focus:first-child,.c-header__link:hover:first-child {
		opacity:1;
	}
	.c-header__link+.c-header__link {
		margin-left:61px;
		position:relative;
	}
	.c-header__link+.c-header__link::before {
		content:"";
		display:block;
		position:absolute;
		background:#fff;
		bottom:4px;
		left:-31px;
		top:4px;
		width:1px;
	}
}

@media (max-width:779px) {
	.c-header__button {
		margin-bottom:19px;
		margin-left:0;
	}
}
@media (min-width:780px) {
	.c-header__button {
		margin-left:20px;
		opacity:.8;
	}
	.c-header__list {
		display:none;
	}
}
.c-header__button:focus,.c-header__button:hover {
	opacity:1
}
.c-header__list {
	border-top:1px solid #fff;
	margin-top:9px;
	max-width:170px;
	padding-top:25px;
	width:100%;
}
.c-header__item {
	text-align:left
}
.c-header__close,.c-header__open {
	cursor:pointer;
	position:absolute;
	top:19px;
}
.c-header__close svg,.c-header__open svg {
	display:block
}
@media (min-width:780px) {
	.c-header__close,.c-header__open {
		display:none;
	}
}
.c-header__open {
	height:14px;
	right:13px;
	width:19px
}
.c-header__close {
	height:20px;
	left:16px;
	width:20px;
}
.c-button {
	position:relative;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	border-radius:4px;
	box-sizing:border-box;
	display:-webkit-inline-flex;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	z-index:0;
}
.c-button::before,.c-button:after {
	/*! border-radius:3px; */
	bottom:0;
	left:0;
	top:0;
	right:0;
	transition:background .3s ease-in-out;
	z-index:-1;
	background: #6db855;
	border-radius: 4px;
}
@media (min-width:780px) {
	.c-button .c-button__inner {
		font-size:16px;
		line-height:22px;
		line-height:50px;
	}
}
.c-button:focus,.c-button:hover {
	cursor:pointer;
}
.c-button--brand::before {
	background-color:#da8300;
}
.c-button--brand:focus::before,.c-button--brand:hover::before {
	background-color:#fff;
}
.c-button--brand-gradient::before {
	background-color:#0099da;
}
.c-button--brand-gradient::after {
	background-image:linear-gradient(to right,#da7b00,#ffce6a);
	transition:opacity .3s ease-in-out;
}
.c-button--white:not(.c-button--border)::before,.c-button--white:not(.c-button--border):focus::before,.c-button--white:not(.c-button--border):hover::before {
	background:#fff;
}
.c-button--small .c-button__inner {
	height:42px;
	letter-spacing:1px;
	line-height:42px;
	padding-left:20px;
	padding-right:20px
}
.c-button--border:not(.c-button--white)::before {
	background:0 0;
	border-style:solid;
	border-width:1px;
	border-color:#0099da
}
.c-button--border:not(.c-button--white):focus::before,.c-button--border:not(.c-button--white):hover::before {
	background:#0099da
}
.c-button--border:focus:not(.c-button--white) .c-button__inner,.c-button--border:hover:not(.c-button--white) .c-button__inner {
	color:#fff
}
.c-button--border.c-button--white:focus .c-button__inner,.c-button--border.c-button--white:hover .c-button__inner,.c-button--border:not(.c-button--white) .c-button__inner {
	color:#0099da
}
.c-button--border.c-button--white::before {
	background:0 0;
	border-style:solid;
	border-width:1px;
	border-color:#fff
}
.c-button--border.c-button--white:focus::before,.c-button--border.c-button--white:hover::before {
	background:#fff
}
.c-button--border.c-button--white .c-button__inner {
	color:#fff
}
.c-button__inner {
	-webkit-animation:a-heartbeat 2s infinite;
	animation:a-heartbeat 2s infinite;
	cursor:progress;
	color: #fff;
	opacity:.85
}
@media (min-width:780px) {
	.c-button--small .c-button__inner {
		font-size:13px;
		line-height:42px;
		padding-left:15px;
		padding-right:15px
	}
	.c-button--border-tablet-up:not(.c-button--white):focus::before,.c-button--border-tablet-up:not(.c-button--white):hover::before {
		background:#0099da
	}
	.c-button--border-tablet-up:not(.c-button--white):focus .c-button__inner,.c-button--border-tablet-up:not(.c-button--white):hover .c-button__inner  {
		color:#fff
	}
	.c-button--border-tablet-up:not(.c-button--white) .c-button__inner {
		color:#575658;
	}
	.c-button--border-tablet-up.c-button--white::before {
		background:0 0;
		border-style:solid;
		border-width:1px;
		border-color:#fff
	}
	.c-button--border-tablet-up.c-button--white:focus::before,.c-button--border-tablet-up.c-button--white:hover::before {
		background:#fff
	}
	.c-button--border-tablet-up.c-button--white:focus .c-button__inner,.c-button--border-tablet-up.c-button--white:hover .c-button__inner {
		color:#fff;
	}
	.c-button--border-tablet-up.c-button--white .c-button__inner  {
		color:#fff
	}
}
.c-dropdown__button {
	padding-right:25px
}
@media (max-width:779px) {
	.c-dropdown__button {
		position:relative
	}
	.c-dropdown--open .c-dropdown__nav {
		max-height:250px
	}
}
.c-dropdown__button:focus .c-dropdown__arrow,.c-dropdown__button:hover .c-dropdown__arrow {
	opacity:1
}
.c-dropdown__arrow {
	background:0 0;
	border-radius:50%;
	height:20px;
	width:20px;
	cursor:pointer;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	display:block;
	margin-top:-11px;
	opacity:.8;
	pointer-events:none;
	position:absolute;
	right:0;
	top:50%;
	transition:opacity .3s ease-in-out,-webkit-transform .2s ease-in-out;
	transition:transform .2s ease-in-out,opacity .3s ease-in-out;
	transition:transform .2s ease-in-out,opacity .3s ease-in-out,-webkit-transform .2s ease-in-out
}
.c-dropdown__arrow::after,.c-dropdown__arrow::before {
	background-color:#fff;
	content:"";
	display:block;
	position:absolute;
	border-radius:4px;
	height:8px;
	left:50%;
	margin-left:-1px;
	margin-top:-4px;
	top:50%;
	width:2px
}
.c-dropdown__arrow::before {
	-webkit-transform:rotate(90deg) translateX(2px) translateY(1px);
	transform:rotate(90deg) translateX(2px) translateY(1px)
}
.c-dropdown__arrow::after {
	-webkit-transform:translateX(2px) translateY(-1px);
	transform:translateX(2px) translateY(-1px)
}
.c-dropdown__arrow:focus::after,.c-dropdown__arrow:focus::before,.c-dropdown__arrow:hover::after,.c-dropdown__arrow:hover::before {
	background:#fff
}
@media (min-width:780px) {
	.c-dropdown {
		position:relative
	}
}
.c-dropdown--open .c-dropdown__arrow {
	background:0 0;
	border-radius:50%;
	height:20px;
	width:20px;
	cursor:pointer;
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg)
}
.c-dropdown--open .c-dropdown__arrow::after,.c-dropdown--open .c-dropdown__arrow::before {
	background-color:#fff;
	content:"";
	display:block;
	position:absolute;
	border-radius:4px;
	height:8px;
	left:50%;
	margin-left:-1px;
	margin-top:-4px;
	top:50%;
	width:2px
}
.c-dropdown--open .c-dropdown__arrow::before {
	-webkit-transform:rotate(90deg) translateX(2px) translateY(1px);
	transform:rotate(90deg) translateX(2px) translateY(1px)
}
.c-dropdown--open .c-dropdown__arrow::after {
	-webkit-transform:translateX(2px) translateY(-1px);
	transform:translateX(2px) translateY(-1px)
}
.c-dropdown--open .c-dropdown__arrow:focus::after,.c-dropdown--open .c-dropdown__arrow:focus::before,.c-dropdown--open .c-dropdown__arrow:hover::after,.c-dropdown--open .c-dropdown__arrow:hover::before {
	background:#fff
}
.c-dropdown__link {
	letter-spacing:0
}
@media (max-width:779px) {
	.c-dropdown__nav {
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		max-height:0;
		overflow:hidden;
		transition:max-height .2s ease-in-out
	}
	.c-dropdown__link {
		font-size:12px;
		color:#fff;
		line-height:30px;
		padding-left:10px;
		text-transform:none
	}
	.c-dropdown__link:first-child {
		padding-top:10px
	}
	.c-dropdown__link:last-child {
		padding-bottom:20px
	}
}
@media (min-width:780px) {
	.c-dropdown--open .c-dropdown__nav {
		opacity:1;
		pointer-events:auto;
		-webkit-transform:scale(1) translateY(40px);
		transform:scale(1) translateY(40px)
	}
	.c-dropdown__nav {
		background:#fff;
		border-radius:4px;
		box-shadow:rgba(0,0,0,.3) 0 2px 14px 0;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		opacity:0;
		overflow:hidden;
		pointer-events:none;
		position:absolute;
		-webkit-transform:scale(.3) translateY(-36px);
		transform:scale(.3) translateY(-36px);
		-webkit-transform-origin:top left;
		transform-origin:top left;
		transition:all .2s ease-in-out;
		z-index:2
	}
	.c-dropdown__link {
		font-size:14px;
		line-height:22px;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		color:#4c4c4c;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		font-weight:400;
		height:50px;
		padding-left:40px;
		padding-right:80px;
		position:relative;
		text-decoration:none;
		text-transform:none;
		white-space:nowrap
	}
	.c-dropdown__link::before {
		bottom:0;
		left:0;
		position:absolute;
		right:0;
		top:0;
		background-image:linear-gradient(to right,#da1f00,#ffad51);
		content:"";
		opacity:0;
		transition:opacity .2s ease-in;
		z-index:-1
	}
	.c-dropdown__link:focus,.c-dropdown__link:hover {
		color:#fff
	}
	.c-dropdown__link:focus::before,.c-dropdown__link:hover::before {
		opacity:1;
		transition:opacity .2s ease-out
	}
}
.c-footer  {
	position:relative
}
.c-header__link:focus,.c-header__link:hover {
	text-decoration:none;
	color:#fff
}
@media (min-width:780px) {
	.index_items-explanation-section {
		z-index:101;
	}
}
.c-button:focus,.c-button:hover {
	color:#fff;
}

.c-items {
	background:#fff;
}
.c-cookie {
	z-index:101;
}



