
@mixin br($rad){
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}
//.site-footer{
//  @include bg_img;
//}
//.navbar.bg-dark{
//  @include bg_img('/images/bg/low_contrast_linen/low_contrast_linen.png');
//  background-color: inherit !important;
//}
.page-heading{
  border: solid 1px #ccc;
  padding: 5px;
  display: inline-block;
  background: #e1e1e1;
  @include br(4px);
}
.icon > svg {
  max-width: 16px;
}
.My_blog{
}

body{
  font-family: "franklin-gothic-urw", sans-serif;
}

.sy-slides-wrap {
  position: absolute !important;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: initial;
  background: #6600e8;
}

.sy-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
.sy-slide>img{
  opacity: .4;
}
.sy-pager{
  display: none !important;
}

#header {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;
  min-height: auto;
  z-index: 2;
  position: relative;

}

.caption {
  color: #fff;
}

#cd-nav {
  position: relative;
  z-index: 2;
}









@import
"elemens/nav-icon",
"elemens/element-slide-left"
;

